<div class="homePage">
    <div class="center">
        <h3>Hello! Welcome to Mitch’s Rare Treasures</h3>
        <p>Click the button below to continue</p>
        <form class="buttonContainer" action="/api/owners"><button>enter</button></form>
    </div>
</div>