.homePage {
  background: red;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.homePage > .center {
  margin: auto;
  width: 400px;
}

.homePage > .center > h3 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.homePage > .center > p {
  text-align: center;
}

.homePage > .center > .buttonContainer {
  display: grid;
  place-content: center;
}

.homePage > .center > .buttonContainer > button {
  width: 75px;
  height: 25px;
}
